{
  "twilio": {
    "twilio_account_sid": "",
    "twilio_auth_token": "",
    "twilio_number": ""
  },
  "hard_working_user@gmail.com": "+3333333",
  "lazy_user@gmail.com": "+2222222",
  "user_who_breaks_the_build@renderedtext.com": "+1111111",
}
